<!-- <button type="submit" disabled="{{ isDisabled }}">Submit</button> <br />
<button type="submit" [disabled]="isDisabled">Submit</button>

<h1 [class]="hasError ? 'has-error' : 'no-error'">Welcome Angular</h1>
<h1 [class.has-error]="hasError">Welcome Angular</h1>
<h1 [ngClass]="messageClass">Welcome Angular Course by Ali</h1>

<h2 [ngStyle]="styleH2">this is messageClass</h2>

<input type="text" [(ngModel)]="inputData" />

<h1>{{ inputData }}</h1>

<div *ngIf="loggedIn; then user; else guest; "></div>

  <ng-template #guest>
    <h2>Welcome Guest</h2>
  </ng-template>

  <ng-template #user>
    <h2>welcome user</h2>
  </ng-template>

  <div [ngSwitch]="carType" >
    <div *ngSwitchCase="'kia'" >Kia</div>
    <div *ngSwitchCase="'alentra'" >Alemtra</div>
    <div *ngSwitchCase="'volvo'" >volvo</div>
    <div *ngSwitchDefault>Please check a car</div>
  </div>


  <div>
    <ul>
      <li *ngFor="let car of cars; odd as o"><div  *ngIf="o==true">{{o}} -  {{car}}</div></li>
    </ul>
  </div>


<h2> {{15 | square }}</h2>

<h2>{{myDate}}</h2>
<h2>{{myDate | month: 'name':'upper'}}</h2>

-->


<app-parent></app-parent>

<router-outlet></router-outlet>
